body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.road-container {
  position: relative;
  width: 100vw;
  background-color: #e5e5e5;
  overflow: hidden; /* Prevent scrolling beyond content */
}

.road-image {
  position: absolute;
  width: 80px; /* Adjusted smaller road size */
  height: auto;
  left: calc(50% - 40px); /* Center the road */
}

.car-image {
  position: fixed;
  width: 70px; /* Smaller car size */
  height: auto;
  left: calc(50% - 35px); /* Center the car horizontally */
  z-index: 10;
  transition: top 2s cubic-bezier(0.4, 0, 0.2, 1); /* Smooth animation to make the car slower */
}

.journey-feature {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-image {
  width: 50px; /* Adjusted size for features */
  height: auto;
}